@page
@model ProjectCRUD.Pages.Courses.AddModel
@{
}
<h3>Add New</h3>
<form method="post">

    <div class="form-group">
        <label asp-for="@Model.CourseName"></label>
        <input asp-for="@Model.CourseName" class="form-control" />
    </div>
     <div class="form-group">
        <label asp-for="@Model.CourseMaterial"></label>
        <input asp-for="@Model.CourseMaterial" class="form-control" />
    </div>

     <div class="form-group">
        <h5 class="text-success">@Model.SuccessMessage</h5>
        <h5 class="text-danger">@Model.ErrorMessage</h5>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success ">SAVE</button>
        <a href="/Courses/List" class="btn btn-light" role="button">CANCEL</a>
    </div>

</form>
